:root {
    /* Font Styles */
    --text-main-family: sans-serif;

    /* Size */
    --text-font-size-sm: 12px;
    --text-font-size-md: 16px;
    --text-font-size-lg: 20px;
    --text-font-size-exlg: 80px;
}