.button{
    display: flex;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: var(--common-text-color);
    align-items: center;
    justify-content: center;
    background: var(--main-linear-gradient);
    border-radius: 8px;
    padding: 0;
    border: none;
    transition: 1s;
}

.button:hover {
    background: var(--main-hover-gradient);
    cursor: pointer;
}