.footerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: var(--color-bg-secondary);
    border-top: 1px solid var(--color-border);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.footerText{
    font-size: var(--text-font-size-md);
    font-family: var(--text-main-family);
    color: var(--color-text-secondary);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.smallFooterText{
    font-size: var(--text-font-size-sm);
    font-family: var(--text-main-family);
    color: var(--color-text-secondary);
    text-align: center;
    margin: 0;
}