.notFoundContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo{
    height: 120px;
    width: 360px;
    margin-top: 50px;
}

.notFoundIconContainer{
    display: flex;
    width: fit-content;
    height: fit-content;
    background: var(--main-linear-gradient);
    border-radius: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    box-shadow: 0px 0px 50px var(--shadow-light-orange);
}

.notFoundIcon{
    display: flex;
    font-size: 80px;
    color: var(--color-text-primary);
    justify-content: center;
    align-items: center;
}

h1{
    height: fit-content;
    font-size: var(--text-font-size-exlg);
    font-weight: bold;
    color: var(--title-text-color);
    margin-top: 20px;
    margin: 0;
    font-family: var(--text-main-family);
}

p {
    margin: 0;
    height: fit-content;
    font-size: var(--text-font-size-lg);
    font-family: var(--text-main-family);
    font-weight: bold;
}


.homeLink{
    display: flex;
    align-items: center;
    height: 40px;
    width: 200px;
    font-size: var(--text-font-size-md);
    font-weight: bold;
    border-radius: var(--border-radius-button);
    justify-content: space-evenly;
    background: var(--main-linear-gradient);
    text-decoration: none;
    color: var(--common-text-color);
    margin-top: 20px;
}

.homeLink:hover {
    text-decoration: underline;
    background: var(--main-hover-gradient);
}